$secondary-color: #125688;

@import url('https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script');

body {
   background: #fafafa;
    color: #125688;
    font-family: 'Montserrat', sans-serif;
}

.header {
  background: white;
  color: $secondary-color;
  box-shadow: none;
  border-bottom: 1px solid #edeeee;
}

.landing {
  margin: 30px auto !important;
}

nav {
  margin-top: 0px !important;
}

.iphone {
  max-width: 100%;
}

.site-footer {
  text-transform: uppercase;
  font-size: 12px;
}

.login-box,
.signup-box {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  padding: 10px 0px;
  text-align: center;
}

.title {
  font-family: 'Oleo Script';
  font-size: 42px;
  color: $secondary-color;
}

nav .brand-logo {
  color: $secondary-color !important;
}

.signup-form {
  width: 65%;
  margin: 0 auto;
}

.signup-form {
  width: 65%;
  margin: 0 auto;
}

.signup-form h2 {
  color: #a5a7aa;
  font-size: 1.2em;
}

.signup-form .section .btn.btn-fb {
  background-color: #4090db;
  font-size: .8em;
}

.signup-form .section .btn.btn-fb:hover {
  background-color: #2d6599;
}

.signup-form .section .btn.btn-signup {
  background-color: #125688;
}

.timeline {
  padding: 30px 0;
}

$avatar-size: 48px;

.avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  float: left;
  margin-right: 12px;
}

.card small.time {
  line-height: $avatar-size;
}

.card .username {
  float: left;
  color: $secondary-color;
  font-size: 30px;
}

.card p {
  padding: 20px 0;
}

.card .likes {
  line-height: 30px;
  margin-left: 12px;
  color: $secondary-color;
}

.card .time {
  float: right;
}

.card i {
  font-size: 22px;
}

.card .fa-heart-o {
  color: $secondary-color;
  float: left;
}
